.centered-div {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

#left-aligned {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

.right {
  float: right;
  margin-right: 20px;
}

.left {
  float: left;
}

.alien-thumb {
  width: 300px;
}

.alien-family-thumb {
  width: 400px;
}

.small-div {
  max-width: 1500px;
  margin: 0 auto;
}

