.centered-div {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#left-aligned {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

.right {
  float: right;
  margin-right: 20px;
}
