<div class="col-md-12">
  <br>
  <br>
  <span ng-click="open()" class="right btn btn-danger">Quit</span>
  <br>
  <br>
  <br>
  <alert ng-show="invalidInput == true" type="danger">You must pick exactly two items.</alert>
  <br>
  <br>

  <div class="centered-div">
      <h3>Tutorial Questions</h3>
      <br>
      <h3>Which two {{ questionInfo.question.type }} form the most similar pair?</h3>
      <br>
      <br>

      <div ng-show="!reveal">
        <span ng-click="saveAnswer()" class="btn btn-default btn-lg">Next</span>
      </div>
      <div ng-show="reveal">
        <span ng-click="next()" class="btn btn-default btn-lg">Next</span>
        <br>
        <br>
        <div id="left-aligned" ng-bind-html="questionInfo.question.answerText"></div>
        <br>
      </div>
      <br>

    <div class="inner-centered-div" ng-show="vertical && !bacteria">
      <label>1</label>
      <input type="checkbox" ng-model="answers[0]">
      <img  ng-click="answers[0] = !answers[0]" class="option" ng-src="{{questionInfo.question.object1.url}}">
      <label>2</label>
      <input type="checkbox" ng-model="answers[1]">
      <img  ng-click="answers[1] = !answers[1]" class="option" ng-src="{{questionInfo.question.object2.url}}">
      <br>
      <label>3</label>
      <input type="checkbox" ng-model="answers[2]">
      <img  ng-click="answers[2] = !answers[2]" class="option" ng-src="{{questionInfo.question.object3.url}}">
      <label>4</label>
      <input type="checkbox" ng-model="answers[3]">
      <img  ng-click="answers[3] = !answers[3]" class="option" ng-src="{{questionInfo.question.object4.url}}">
      <br>
      <label>5</label>
      <input type="checkbox" ng-model="answers[4]">
      <img  ng-click="answers[4] = !answers[4]" class="option" ng-src="{{questionInfo.question.object5.url}}">
    </div>


    <div class="inner-centered-div" ng-show="vertical && bacteria">
      <label>1</label>
      <input type="checkbox" ng-model="answers[0]">
      <img ng-click="answers[0] = !answers[0]" class="option bacteria-thumb" ng-src="{{questionInfo.question.object1.url}}">
      <br>
      <br>
      <label>2</label>
      <input type="checkbox" ng-model="answers[1]">
      <img  ng-click="answers[1] = !answers[1]" class="option bacteria-thumb" ng-src="{{questionInfo.question.object2.url}}">
      <br>
      <br>
      <label>3</label>
      <input type="checkbox" ng-model="answers[2]">
      <img   ng-click="answers[2] = !answers[2]" class="option bacteria-thumb" ng-src="{{questionInfo.question.object3.url}}">
      <br>
      <br>
      <label>4</label>
      <input type="checkbox" ng-model="answers[3]">
      <img  ng-click="answers[3] = !answers[3]"  class="option bacteria-thumb" ng-src="{{questionInfo.question.object4.url}}">
      <br>
      <br>
      <label>5</label>
      <input type="checkbox" ng-model="answers[4]">
      <img  ng-click="answers[4] = !answers[4]" class="option bacteria-thumb" ng-src="{{questionInfo.question.object5.url}}">
    </div>


    <div class="row" ng-show="!vertical">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <label>1</label>
        <input type="checkbox" ng-model="answers[0]">
        <img  ng-click="answers[0] = !answers[0]" class="option img-responsive" ng-src="{{questionInfo.question.object1.url}}">
      </div>

      <div  class="col-md-2">
        <label>2</label>
        <input type="checkbox" ng-model="answers[1]">
        <img  ng-click="answers[1] = !answers[1]" class="option img-responsive" ng-src="{{questionInfo.question.object2.url}}">
      </div>

      <div  class="col-md-2">
        <label>3</label>
        <input type="checkbox" ng-model="answers[2]">
        <img  ng-click="answers[2] = !answers[2]" class="option img-responsive" ng-src="{{questionInfo.question.object3.url}}">
      </div>

      <div class="col-md-2">
        <label>4</label>
        <input type="checkbox" ng-model="answers[3]">
        <img  ng-click="answers[3] = !answers[3]" class="option img-responsive" ng-src="{{questionInfo.question.object4.url}}">
      </div>

      <div class="col-md-2">
        <label>5</label>
        <input type="checkbox" ng-model="answers[4]">
        <img  ng-click="answers[4] = !answers[4]" class="option img-responsive" ng-src="{{questionInfo.question.object5.url}}">
      </div>
      <div class="col-md-1"></div>
    </div>

    <br>
    <br>

      <br>
      <br>
  </div>
</div>

