.option:hover {
  opacity: 0.6;
}

.option {
  cursor: pointer;
}

.horizontal {
  display: inline;
  float: right;
}

.short {
  width: 700px;
}

.inner-centered-div {
  width: 99%;
  margin: 0 auto;
}

.bacteria-thumb {
  border:2px solid #021a40;
}
